header{
    margin: 0mm;
    color:rgb(51, 153, 144);
        width:200px;
        left:200px;
        height: 200px;
        border:chocolate;}
     div#1 a{
         color: aqua;
         width: 5px;
         padding: 100px;
     }
     #2 div a{
         color: aqua;

     }
     img{
         position:sticky;
         width: 100px;
         height: 100px;
     }
}

footer{
    width: 10px;
    height: 110px;
    float:none;
    position:relative;
    background-image:url(RobledoCakesLOGO.png)no-repeat bottom center #222;
    background-size:cover;
    margin:0px;
    top: 100px;
    color:burlywood ;}
img{
    width: 0,1px;
    height: 0,1px;
    margin-top: 0px;
    position: center;
}
